<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764177544125-4cun9ctrrfqqpshvi36jsu00t2flv9c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764177544125-4cun9ctrrfqqpshvi36jsu00t2flv9c1</string>
	<key>API_KEY</key>
	<string>AIzaSyCn4pcWkxoLmCC_nNQzGl2WAKJ9wj9aDM4</string>
	<key>GCM_SENDER_ID</key>
	<string>764177544125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTil</string>
	<key>PROJECT_ID</key>
	<string>flutter-til-adc78</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-til-adc78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764177544125:ios:5c98fa76ddd9566f6658d4</string>
</dict>
</plist>